### **Diplomado Programación en Python Especializado para Ingenieros - Proyecto Final**

#### **Integrantes:** 
####     - Alicia Monserrat Gali Sosa, CI: 4.597.982
#### **Título:** Cálculo de anomalías de precipitación mensual y monitoreo de sequías con índice SPI bajo el escenario de cambio climático RCP 4.5 en la Reserva del Bosque Mbaracayú.

*Hacer una breve intro y comentar un poco acá qué es lo que se busca hacer con este programa...*

#### 1. Importación de bibliotecas necesarias y preparación de los datos:

In [13]:
# Importar bibliotecas necesarias (pandas, numpy, matplotlib, seaborn, climate_indices, pymannkendall)
# Cargar archivos CSV históricos (1961–2006) y proyectados (2006–2099).
# Convertir columnas de fecha a formato datetime.
# Verificar y tratar valores faltantes. Limpieza de df y estandarización de nombres.
# Crear columnas auxiliares: 'año', 'mes'.
# Visualización del df.

In [5]:
'''
Se instalan las bibliotecas climate-indices y pymannkendall en caso de no contar con ellas.
climate-indices se utilizará para el cálculo del SPI
pymannkendall se utilizará para el análisis de tendencia del SPI
'''
#%pip install climate-indices
#%pip install pymannkendall

'\nSe instalan las bibliotecas climate-indices y pymannkendall en caso de no contar con ellas.\nclimate-indices se utilizará para el cálculo del SPI\npymannkendall se utilizará para el análisis de tendencia del SPI\n'

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import climate_indices as ci
import pymannkendall as mk

In [10]:
'''
Filtramos las planillas .csv que contienen los datos históricos y proyectados por la coordenada 
correspondiente a la Reserva del Bosque Mbaracayú:
Latitud: -24.2
Longitud: -55.4
'''
historico = pd.read_csv('BESM_HISTORICO_PREC_1961_2005_PY.csv')
historico = historico[(historico['Latitude'] == -24.2) & (historico['Longitude'] == -55.4)]
historico

              Data      Hora  Latitude  Longitude        PREC
188467  1961/01/01  00:00:00     -24.2      -55.4   83.587234
188492  1961/02/01  00:00:00     -24.2      -55.4  174.544586
188513  1961/03/01  00:00:00     -24.2      -55.4  257.097473
188533  1961/04/01  00:00:00     -24.2      -55.4   77.487198
188553  1961/05/01  00:00:00     -24.2      -55.4  140.717438
...            ...       ...       ...        ...         ...
199702  2005/08/01  00:00:00     -24.2      -55.4   96.175758
199726  2005/09/01  00:00:00     -24.2      -55.4  103.833183
199746  2005/10/01  00:00:00     -24.2      -55.4  240.889313
199769  2005/11/01  00:00:00     -24.2      -55.4  117.583977
199790  2005/12/01  00:00:00     -24.2      -55.4  141.064606

[540 rows x 5 columns]

In [12]:
proyectado = pd.read_csv('BESM_RCP45_PREC_2006_2099_PY.csv')
proyectado = proyectado[(proyectado['Latitud'] == -24.2) & (proyectado['Longitud'] == -55.4)]
proyectado

             Fecha  Latitud  Longitud        PREC
603     2006-01-01    -24.2     -55.4  154.817688
1469    2006-02-01    -24.2     -55.4   60.253784
2366    2006-03-01    -24.2     -55.4  118.251221
3248    2006-04-01    -24.2     -55.4   19.395882
4122    2006-05-01    -24.2     -55.4  185.284836
...            ...      ...       ...         ...
992518  2099-11-01    -24.2     -55.4  109.480904
993404  2099-12-01    -24.2     -55.4  212.509918
994006  2008-03-01    -24.2     -55.4   84.142548
994391  2008-04-01    -24.2     -55.4   12.857768
994827  2008-05-01    -24.2     -55.4  114.709427

[1128 rows x 4 columns]